@font-face {
    font-family: 'Lexend Deca';
    src: url('/static/fonts/LexendDeca.ttf') format('truetype');
}

:root {
    --font-family-main: 'Lexend Deca', sans-serif;
    --bg-main: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body main {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-main);
    font-family: var(--font-family-main);
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
